<html>
<head>
<meta charset="utf-8">
    <META HTTP-EQUIV="nocache" CONTENT="no-cache">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    
    
<script src="js/jquery.min.js"></script>
<script src="js/tool.js"></script>
<script src="js/include/include.js?version=20150708"></script>
</head>
<body>
<div id="content">

</div>
</body>
<script>
$(document).ready(function() {
	var code = getQueryString("code");
	if(code!=null && code!=''){
		try{
			var openId = centralService.getOpenId(code);
			window.location.href="weixin_myaccount.html?openId="+openId;
		}catch(e){
			$('#content').append(e.message);
		}
	}
})


</script>
</html>